body
{
    font-family: 'Segoe UI', sans-serif
}

span {
    font-style: italic
}

.main {
     display: flex;
     flex-direction: column
}
.flexone {
    flex: 1
}

dialog {
    max-width: 320px;
    max-height: 100%;
    box-sizing: border-box;
    overflow: auto;
}
.center {
    text-align: center;
}